{% extends 'base.html' %}

{% block content %}

<h1>What is MoodShift?</h1>
<p>
  MoodShift is a tracker for your daily moods and a journal for self reflection. It is meant as a tool to becoming more self aware and practice being more in-control of emotions.
</p>

<p>
  MoodShift is not intended to be a substitute for professional advice, diagnosis, or treatment. Always seek the advice of your mental health professional or other qualified health provider with any questions you may have regarding your condition.
</p>
<p>
  <b>If you are in crisis or you think you may have an emergency, call your doctor or 911 immediately. If you're having suicidal thoughts, call 1-800-273-TALK (8255) to talk to a skilled, trained counselor at a crisis center in your area at any time (National Suicide Prevention Lifeline). If you are located outside the United States, call your local emergency line immediately.</b>
</p>

{% endblock %}