{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/M-icon.png' %}"
  >
  <title>MoodShift</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
      <a href="/" class="title-font">MoodShift</a>
    <h3>Hello, guest</h3>
    <nav>
      <a href="/" class="buttons">Log in</a>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <a href="/about">About MoodShift</a>
  </footer>
</body>
</html>