{% extends 'base.html' %}

{% block content %}
<section class="entry-form">
<h2>How are you feeling today?</h2>
</section>

<section class="login-or-entry">
  {% if user.is_authenticated %}
  <form action="{% url 'entry_create' %}" method="post"></form>
  {% else %}
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
  {% endif %}
</section>

{% endblock %}