{% extends 'base.html' %}
{% load static %}

{% block head %}
  
{% endblock head  %}

{% block content %}
{{ cal|safe }}

{% for entry in entries %}
  <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas{{ entry.entryDate|date:"j" }}" aria-labelledby="offcanvas{{ entry.entryDate|date:"j" }}">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvas{{ entry.entryDate|date:"j" }}Label">I was {{ entry.mood }}</h5>
      <form action="{% url 'entry_delete' entry.id %}" method="post" class="deleteButton">
      {% csrf_token %}
      <button type="submit" class="btn-danger" data-bs-dismiss="offcanvas">Delete</button>
      </form>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>{{ entry.description }}</p>
    </div>
  </div>
{% endfor %}



{% endblock %}