@import url("https://fonts.googleapis.com/css2?family=Mali&family=Open+Sans&display=swap");

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: border-box;
}

:root {
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  font-size: 62.5%;
  /* color-blind friendly palette */
  --color-white: #f9f6f0;
  --color-black: #070600;
  --color-grey: #a7a7a7;
  --color-pink: #ffb6db;
  --color-green: #24ff24;
  --color-blue: #6db6ff;
  --color-yellow: #ffff6d;
  --color-orange: #db6d00;
  --color-red: #920000;
  --color-purple: #490092;
  --color-dark-blue-tran: #004949ab;
  --color-dark-blue: #004949;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --main-text: var(--color-black);
  --main-bg: var(--color-white);
  --color-outline: var(--color-dark-blue-tran);
  --normal-outline: var(--color-black);
  --link-color: var(--color-dark-blue-tran);
  --mood-annoyed: var(--color-red);
  --mood-overwhelmed: var(--color-purple);
  --mood-meh: var(--color-orange);
  --mood-okay: var(--color-yellow);
  --mood-good: var(--color-green);
  --mood-great: var(--color-blue);
  --mood-fantastic: var(--color-pink);
  --borders: var(--color-outline) solid 1px;
  --card-box-shadow: 5px 5px 6px -1px #aaa;
  --title-fonts: "Mali", cursive;
  --content-fonts: "Open Sans", sans-serif;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
  font-family: var(--content-fonts);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

header {
  padding: 0 1rem;
  width: 100%;
  border-bottom: var(--borders);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

header * {
  max-width: 25rem;
}

header h3 {
  text-align: left;
  flex-basis: 20rem;
}

main {
  width: 100%;
  text-align: center;
}

.buttons {
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: var(--borders);
  border-radius: 1rem;
}

.title-font {
  color: var(--color-dark-blue);
  font-family: var(--title-fonts);
  font-weight: bolder;
  font-size: var(--font-xxl);
}

.submit {
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: var(--borders);
  border-radius: 1rem;
}

img.logo {
  width: 8rem;
  height: 8rem;
}

/* home page & entry form */

/* user auth */

.main-auth {
  width: 100%;
  height: 100%;
  margin: 6rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-auth .display {
  max-width: 40rem;
}

.main-auth .login-signup {
  min-width: 50rem;
}

.signup{
  text-align: right;
}

li {
  list-style: none;
  padding-top: 1rem;
}

.red-text {
  color: var(--color-red);
}

/* about page */

.about {
  max-width: 150rem;
  padding: 10rem;
}

/* calendar */

table {
  text-align: center;
  border-spacing: 3rem;
  border-collapse: separate;
  empty-cells: hide;
}

td {
  height: 12rem;
  width: 12rem;
  border-radius: 2rem;
  position: relative;
  background-color: var(--color-grey);
  font-size: var(--font-xxl);
  text-align: center;
}

.moodshift-emoji {
  background-color: inherit;
  border-radius: inherit;
  border: none;
  height: 100%;
  width: 100%;
}

td:hover {
  filter: opacity(80%);
}

td.noday {
  visibility: hidden;
  padding: 3rem;
}

td.fantastic {
  background-color: var(--mood-fantastic);
}

td.great {
  background-color: var(--mood-great);
}

td.good {
  background-color: var(--mood-good);
}

td.neutral {
  background-color: var(--mood-okay);
}

td.down {
  background-color: var(--mood-meh);
}

td.annoyed * {
  background-color: var(--mood-annoyed);
  color: var(--color-white);
}

td.overwhelmed * {
  background-color: var(--mood-overwhelmed);
  color: var(--color-white);
}
